@model IEnumerable<Models.DanhMucCon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Danh mục con</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Tên
        </th>
        <th>
           Danh mục cha
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DanhMuc.Name)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.Id }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
